/* Estils generals */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #fdef5f, #eddb58, #ddc751, #ccb44a, #bba144);
}



h3 {
    font-family: 'Georgia', serif;
    font-size: 2em; /* Ajusta este valor según tus necesidades */
}

/********************   Estilos para el menú ********************/
/********************   Estilos para el menú ********************/
.sticky-menu {
    position: sticky;
    top: 0;
    background-image: url('/image/zelda.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1000;
    padding: 15px 0; /* Ajuste del relleno para pantallas más pequeñas */

    /* Media query para dispositivos más pequeños */
    @media screen and (max-width: 550px) {
        padding: 15px 0; /* Ajuste adicional del relleno para pantallas aún más pequeñas */
    }
}

.sticky-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Cambiar a un menú vertical en pantallas pequeñas */
    @media screen and (max-width: 200px) {
        flex-direction: row;
        align-items: center;
    }
}



.sticky-menu ul li {
    margin: 5px; /* Reducción del margen entre elementos del menú */
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
}

.sticky-menu ul li a {
    text-decoration: none;
    color: #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    background-color: #ffe81b23;
    padding: 10px 15px; /* Ajuste del espacio alrededor del texto */

    /* Aplicación de la fuente y ajustes */
    font-family: 'Verdana, Geneva', sans-serif;
    font-size: 20px; /* Reducción del tamaño de la fuente para mejorar la adaptabilidad */
    letter-spacing: 1px; /* Reducción del espacio entre letras */

    /* Media query para dispositivos más pequeños */
    @media screen and (max-width: 200px) {
        font-size: 14px; /* Reducción adicional del tamaño de la fuente para pantallas muy pequeñas */
        padding: 8px 12px; /* Ajuste del padding para pantallas muy pequeñas */
        letter-spacing: 0.5px; /* Reducción del espaciado de letras para pantallas muy pequeñas */
    }
}


.sticky-menu ul li a:hover {
    background-color: #caa9143f;
    color: #000000;
}

/****************** Estilos para el footer ********************/
footer {
    text-align: center;
    padding: 10px;
    background-image: radial-gradient(circle, #d1b241, #d4b649, #ccad3d, #ccb44a, #bba144);
}


/***************** Estilos para el section game-info **********************/
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 60px auto;
    padding: 40px 20px;
    max-width: 1300px;
    border-radius: 15px;
    overflow: hidden; /* Prevents scrolling */
}

@media (max-width: 1480px) {
    .game-info {
        padding: 20px 10px;
        max-width: 92%;
        max-height: none;
        overflow: hidden; /* Prevents scrolling */
    }
}

.section-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    max-height: 80vh;
    text-align: center;
    background-color: rgba(232, 247, 212, 0.8);
    margin: 20px auto; /* Añade margen superior e inferior */
    padding: 40px 20px; /* Añade espacio arriba y abajo */
    max-width: 600px;
    border-radius: 7px;
    overflow: auto;
}
.section-about-us:hover {
  
    transform: scale(1.3); /* Aumenta la escala al pasar el ratón */
    transition: transform 0.3s ease; /* Transición suave al hacer el zoom */
    background-color: rgba(145, 207, 87, 0.8);

}


/********************   Estilos para Imagen-Banner ********************/
.full-width-image {
    width: 100%;
    overflow: hidden;
    position: relative; /* Para controlar la superposición */
}

.full-width-image img {
    padding-top: 5px;
    width: 100%;
    height: 400px;
    display: block;
    filter: blur(3px); /* Aplica un desenfoque de 5px a la imagen */
}

.image-title {
    position: absolute;
    top: 50%; /* Posiciona el título en el centro verticalmente */
    left: 50%; /* Posiciona el título en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el título */
    color: white; /* Color del texto */
    font-size: 58px; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
    text-shadow: 5px 2px 4px black; /* Contorno del texto */
    font-family: 'Georgia', serif;
}



/******************   Estilos para el section game-image  (PERSONAJES) **********************/
.image-container {
    display: flex;
    justify-content: space-between;
}

.game-image {
    width: 350px; /* Ajusta este valor según tus necesidades */
    height: 310px; /* Ajusta este valor según tus necesidades */
    border: 3px solid #a1891fa9; /* Ajusta el color y el grosor del borde según tus necesidades */
    box-sizing: border-box;
    margin: 0 10px; /* Añade espacio a los lados de cada imagen */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añade transiciones para suavizar el cambio de zoom y color de fondo */
}

.game-image:hover,
.game-image:focus {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor sobre ella */
    background-image: linear-gradient(to right, #d8bb96, #e4cc60f5); /* Cambia el color de fondo a un gradiente al pasar el cursor sobre la imagen */
}

@media (max-width: 1060px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .game-image {
       /* width: 90%; /* Ajusta este valor según tus necesidades */
        height: 400px; /* Ajusta este valor según tus necesidades */
        margin: 10px 0; /* Añade espacio arriba y abajo de cada imagen */
        border: 2px solid #a1891fa9; /* Ajusta el color y el grosor del borde según tus necesidades */
        box-sizing: border-box;
        transition: transform 0.3s ease, background-color 0.3s ease; /* Añade transiciones para suavizar el cambio de zoom y color de fondo */
    }
}



/**************  Estilos para la pagina del TUTORIAL  **************/

.map-gridWeapons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.map-itemWeapons {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 200px;
    overflow: auto;
    margin-bottom: 30px; /* Increase bottom margin */
    margin-right: 10px; /* Add right margin */
    margin-left: 10px; /* Add left margin */
    position: relative;
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

.map-itemWeapons::before {
    content: attr(data-text); /* Usa el atributo data-text */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    white-space: pre-wrap; /* Preserves line breaks */
}
.map-itemWeapons:hover::before {
    opacity: 1;
}

.map-imageWeapons {
    width: auto;
    height: 100%;
    border: 2px solid #a1891fa9;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.map-itemWeapons:hover {
    transform: scale(1.1); /* Scale the element up to 110% when hovered */
}




.map-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.map-item {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 45%;  /* Ajusta este valor según el espacio que quieras entre las imágenes */
    overflow: auto;  /* Asegura que el contenido no se desborde */
}

.map-image {
    max-height: 60%;  /* Establece una altura máxima para las imágenes */
    border: 2px solid #99ca82;  /* Ajusta el color y el grosor del borde según tus preferencias */
    box-sizing: border-box;
    object-fit: cover;  /* Asegura que las imágenes mantengan sus proporciones */
}

.texto-tutorial {
    text-align:  center; /* Centrar el texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de fuente elegante y profesional */
    font-size: 17px; /* Tamaño de letra más grande */
    /*padding-left: 180px; /* Espacio a la izquierda del texto */
   /* padding-right: 180px; /* Espacio a la derecha del texto */
    @media screen and (max-width: 550px) {
        /*padding: 15px 5px; /* Ajuste adicional del relleno para pantallas aún más pequeñas */
        text-align: center;
    }
}






/**************  Imagen de ABOUT US  **************/
.content {
    display: flex;
    align-items: center;
}

.image {
    flex: 1;
    padding-right: 20px; /* Espaciado entre la imagen y el texto */
}

.image img {
    max-width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción */
}

.text {
    flex: 2;
}



.texto-justificado {
    text-align:  justify; /* Centrar el texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de fuente elegante y profesional */
    font-size: 23px; /* Tamaño de letra más grande */
    /*padding-left: 180px; /* Espacio a la izquierda del texto */
   /* padding-right: 180px; /* Espacio a la derecha del texto */
    @media screen and (max-width: 550px) {
        /*padding: 15px 5px; /* Ajuste adicional del relleno para pantallas aún más pequeñas */
        text-align: center;
    }
}

/****************************************************/



.texto-centrado {
    text-align:  center; /* Centrar el texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de fuente elegante y profesional */
    font-size: 23px; /* Tamaño de letra más grande */
    /*padding-left: 180px; /* Espacio a la izquierda del texto */
   /* padding-right: 180px; /* Espacio a la derecha del texto */
    @media screen and (max-width: 550px) {
        /*padding: 15px 5px; /* Ajuste adicional del relleno para pantallas aún más pequeñas */
        text-align: center;
    }
}